{{define "Index"}}
<!DOCTYPE html>
<html>
    {{template "Head" .}}
    <body>
        {{template "Navbar" .}}
        <main>
            <div class="container">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
                    {{range $a := .Artists}}
                    {{template "ArtistCard" .}}
                    {{end}}
                </div>
            </div>
        </main>
        {{template "Scripts" .}}
        <script type="module" src="static/js/index.js"></script>
    </body>
</html>
{{end}}